ul {
    padding-left: 10px;
    margin-left: 10px;
    list-style-type: none;
}

ul li {
    padding-left: 12px;
    background: url(bullet.png) 0em 0.3em no-repeat;
    margin-bottom: 2em;
}
#lista
{
	border: 3px solid red;
	margin-bottom: 3px;
	width: 300px;
	position: absolute;

}

#cosa
{
	border: 3px solid black;
	width: 300px;
	float: right; 
}

#beso
{
	border: 3px solid blue;
	width: 300px;
	margin: auto;
}
